/*
---01 TYPOGRAPHY SYSTEM
  
- font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- line height
default: 1
Small: 1.05
medium: 1.2
Paragraph default: 1.6

- Letter Spacing
-0.5px
0.75px


--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9, #fae5d3
- Shades: #cf711f
- Accents:
- Greys: 
default: #555
primary-heading: #333
featured-in: #888




--- 05 SHADOWS





--- 06 BORDER RADIUS
default: 9px



--- 07 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px /  16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* easier to use rem as 1rem = 10px (by deafult, obv) */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ********************************************** */
/* GENERAL REUSABLE COMPONENTS */
/* ********************************************** */

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid--center-v {
  align-items: center;
}

.grid {
  display: grid;
  gap: 9.6rem 6.4rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid--3-cols {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

/* intially just go with something basic, then we can choose what values are really needed */

.heading-primary,
.heading-secondary,
.heading-ternary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  letter-spacing: 0.75px;
  margin-bottom: 9.6rem;
}

.heading-ternary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  /* since it was a span element */
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #cf711f;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  /* for padding to get effect */
  display: inline-block;
  padding: 1.6rem 3.2rem;

  /* using pixel coz it shouldnt be scaled */
  border-radius: 9px;

  /* put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  border: 2px solid #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff;  this would add border to the outside of the element which would lead to the layout jumping each time hovered.*/

  /* inset keyword adds shadow inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: #cf711f;
}

/* HELPER CLASSES */

.margin-right-sm {
  margin-right: 1.6rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
