/*
---01 TYPOGRAPHY SYSTEM
  
- font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- line height
default: 1
Small: 1.05
Paragraph default: 1.6


--- 02 COLORS

- Primary: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents:
- Greys: 
default: #555
primary-heading: #333




--- 05 SHADOWS





--- 06 BORDER RADIUS
default: 9px



--- 07 WHITESPACE

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 10px /  16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  /* easier to use rem as 1rem = 10px (by deafult, obv) */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* ********************************************** */
/* GENERAL REUSABLE COMPONENTS */
/* ********************************************** */

/* intially just go with something basic, then we can choose what values are really needed */
.heading-primary {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
  color: #333;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  /* for padding to get effect */
  display: inline-block;
  padding: 1.6rem 3.2rem;

  /* using pixel coz it shouldnt be scaled */
  border-radius: 9px;

  /* put transition on original "state" */
  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
  border: 2px solid #fff;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  /* border: 3px solid #fff;  this would add border to the outside of the element which would lead to the layout jumping each time hovered.*/

  /* inset keyword adds shadow inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem;
}

/* ********************************************** */
/* HEADER */
/* ********************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ********************************************** */
/* NAVIGATION SECTION */
/* ********************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* copied from .btn, to maintain consistency */
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  /* for padding to get effect */
  display: inline-block;
  /* padding: 1.2rem 2.4rem; */

  /* put transition on original "state" */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* ********************************************** */
/* HERO SECTION */
/* ********************************************** */

.section-hero {
  background-color: #fdf2e9;
  /* since we want to preserve the bgc add padding and not margin */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* max-width to avoid horizontal scroll bars when viewport becomes less that 130rem */
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  /* equally spaced columns -> fr */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  /* same as padding of section-hero to maintain consistency */
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* 100% on img would fill the entire parent element i.e., hero-img-box, which is exactly half of hero element (coz of grid) */
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.05;
}

/* check for contrast ratio */
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
