/* ********************************************** */
/* HEADER */
/* ********************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ********************************************** */
/* NAVIGATION SECTION */
/* ********************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* copied from .btn, to maintain consistency */
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  /* for padding to get effect */
  display: inline-block;
  /* padding: 1.2rem 2.4rem; */

  /* put transition on original "state" */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* ********************************************** */
/* HERO SECTION */
/* ********************************************** */

.section-hero {
  background-color: #fdf2e9;
  /* since we want to preserve the bgc add padding and not margin */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* max-width to avoid horizontal scroll bars when viewport becomes less that 130rem */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  /* equally spaced columns -> fr */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  /* same as padding of section-hero to maintain consistency */
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* 100% on img would fill the entire parent element i.e., hero-img-box, which is exactly half of hero element (coz of grid) */
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.05;
}

/* check for contrast ratio */
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ********************************************** */
/* FEATURED IN SECTION */
/* ********************************************** */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  color: #888;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2.4rem;
}

.featured-img-container {
  display: flex;
  justify-content: space-around;
}

.featured-img-container img {
  height: 3rem;
  filter: brightness(0%);
  opacity: 0.5;
}

/* ********************************************** */
/* HOW IT WORKS SECTION */
/* ********************************************** */

.section-how {
  margin: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  /* to center an img */
  display: flex;
  justify-content: center;
  /* otheriwse it'll stretch, as alignitems is stretch by default */
  align-items: center;

  /* for the circles to get out of normal flow, this has to be the relative, for the before after pseudoelements to be absolutely positioned wrt this */
  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  /* we should also make it positioned absolute  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* without content it wont appear on screen */
  content: "";
  display: block;
  border-radius: 50%;
}

.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}

.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}

.step-img {
  width: 35%;
}

/* ********************************************** */
/* MEALS SECTION */
/* ********************************************** */

.section-meals {
  margin: 9.6rem 0;
}

.meal {
  box-shadow: 0px 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  /* to avoid image from being sharp edged and overflowing from container */
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  /* moves closer to source, hence some changes */
  box-shadow: 0px 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

/* .meal-text-box {
  width: 60%;
  margin: 0 auto;
} */

.meal-tags {
  margin-bottom: 1.2rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 700;

  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: #51cf66;
}

.tag--vegan {
  background-color: #94d82d;
}

.tag--paleo {
  background-color: #ffd43b;
}

.meal-text-box {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-img {
  width: 100%;
}

.meal-title {
  font-size: 2.4rem;
  color: rgb(51, 51, 51);
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.list {
  font-size: 1.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-items {
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 1.4rem;

  /* done by gap of parent flex  */
  /* margin-bottom: 1.8rem; */
}

.list-icon {
  font-size: 3rem;
  color: #e67e22;
}

.list-icon--small {
  font-size: 2.4rem;
}

.all-recepies {
  /* not adding this to link, so that i can create a standalone link class */
  font-size: 1.8rem;
  text-align: center;
}

/* ********************************************** */
/* TESTIMONIALS SECTION */
/* ********************************************** */

.section-testimonials {
  /* not using the resuable grids, coz this section has a lot of variations */

  display: grid;
  /* grid-template-columns: repeat(2, minmax(0, 1fr)); */
  grid-template-columns: 1fr 0.8fr;
  background-color: #fdf2e9;

  /* otherwise since therewont be square shapes when made small, it will stretch due to default behaviour of align items */
  align-items: center;
}

.testimonial-container {
  margin: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 4.8rem 8rem;
}

.testimonial img {
  width: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item img {
  /* to remove small spaces between images */
  display: block;
  width: 100%;

  transition: all 0.3s;
}
.gallery-item {
  overflow: hidden;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
