/* ********************************************** */
/* HEADER */
/* ********************************************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* ********************************************** */
/* NAVIGATION SECTION */
/* ********************************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  /* copied from .btn, to maintain consistency */
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;

  /* for padding to get effect */
  display: inline-block;
  /* padding: 1.2rem 2.4rem; */

  /* put transition on original "state" */
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  background-color: #e67e22;
  color: #fff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

/* ********************************************** */
/* HERO SECTION */
/* ********************************************** */

.section-hero {
  background-color: #fdf2e9;
  /* since we want to preserve the bgc add padding and not margin */
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  /* max-width to avoid horizontal scroll bars when viewport becomes less that 130rem */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;

  display: grid;
  /* equally spaced columns -> fr */
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  align-items: center;
  /* same as padding of section-hero to maintain consistency */
  gap: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  /* 100% on img would fill the entire parent element i.e., hero-img-box, which is exactly half of hero element (coz of grid) */
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fff;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 1.05;
}

/* check for contrast ratio */
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ********************************************** */
/* HOW IT WORKS SECTION */
/* ********************************************** */

.section-how {
  margin: 9.6rem 0;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-box {
  /* to center an img */
  display: flex;
  justify-content: center;
  /* otheriwse it'll stretch, as alignitems is stretch by default */
  align-items: center;
}

.step-img {
  width: 35%;
}
